// .container{
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

.main-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important; 
}