.intro-section {
    .content-wrapper {
        .form-box {
            #register {
                left: 450px;
            }
        }
    }
}

.register-item {
    label {
        margin-bottom: 2px;
        font-size: 16px;
        display: inline-block;
        color: #607db8;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    input {
        width: 100%;
        padding: 10px 0;
        margin: 2px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }
    p {
        color: #607db8;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    span {
        font-size: 0.5em;
        display: inline-block;
        color: #e71a0f;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .submit-btn {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, #ff105f, #ffad06);
        border: 0;
        outline: none;
        border-radius: 30px;
    }
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    input {
        width: 10%;
    }
}

#checkbox-content {
    color: #607db8;
    width: 90%;
    font-size: 0.5rem;
}
