// .main {
//     .block-account {
//         width: 30%;
//         .block-title {
//         }
//         .block-content {
//             ul {
//                 list-style: none;
//                 li {
//                     margin: 2px 0;
//                     background: red;
//                     // &::after {
//                     //     content: "";
//                     //     border-top: 19px solid transparent;
//                     //     border-bottom: 19px solid transparent;
//                     //     border-left: 25px solid #f0efee;
//                     //     transform: translateX(160%);
//                     // }
//                 }
//                 a {
//                     padding-left: 5px;
//                 }
//             }
//         }
//     }
// }
// .my-account {
//     width: 70%;
// }

// .userProfile--layout {
//   min-height: 100vh;
// }


// #components-layout-demo-top .logo {
//   float: left;
//   width: 120px;
//   height: 31px;
//   margin: 16px 24px 16px 0;
//   background: rgba(255, 255, 255, 0.3);
// }

// .ant-row-rtl #components-layout-demo-top .logo {
//   float: right;
//   margin: 16px 0 16px 24px;
// }

// .site-layout-content {
//   min-height: 280px;
//   padding: 24px;
//   background: #fff;

//   .col-user {
//     margin: 0 auto;
//   }

//   .col-user1 {
//     border: 1px solid black;
//   }
// }

@include responsive("medium") {
  .col-user1 {
    margin-left: 0;
  }

  .col-user2 {
    margin-right: 0;
  }

  h2 {
    font-size: 1rem;
  }
}